html{
    font-size:62.5%;/*It decrease the size of rem to 62.5% less*/
}
body{
     background-color:white; 
     font-family:Halvetica,Arial,sans-serif;
     font-size:1.6rem;
     
}

button{
    cursor:pointer;
}

button:disabled{
    cursor:default;
}
.is-active{
    font-weight:bold;
}
